/*
	list
*/
.table_wrap {
	background-color: rgb(56, 56, 56);
	border-style: solid;
	border-color: black;
	border-width: thin;
	border-radius: 6px;
	margin: 10px auto;
  	max-width: 960px;
  	height: 500px;
	font-family: 'Open Sans', sans-serif;
	color: white;
	padding-top: 3%;
	padding-down: 1%;
	padding-left: 3%;
	padding-right: 3%;
}

.table_wrap a:link, a:hover, a:active, a:visited {
	color: white;
	text-decoration: none;
}

.list_table {
	border: 1px #a39485 solid;
	border-collapse: collapse;
	border-radius: 5px;
	overflow: hidden;
	width: 100%;
  	max-width: 100%;
  	max-height: 60%;
}

.list_table thead {
  	font-weight: bold;
}

.list_table td {
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
  	vertical-align: middle;
  	border-bottom: 1px solid rgba(0,0,0,.1);
}

.list_table td:nth-child(1) {
	width: 15%;
}

.list_table td:nth-child(3) {
	width: 15%;
}

.list_table td:nth-child(4) {
	width: 15%;
}

.list_table h5 {
	color: rgb(144, 144, 144);
}

.board-add-btn {
	border-style: solid;
	border-color: rgb(130, 130, 130);;
	border-width: thin;
	border-radius: 6px;
	padding: 3px;
	text-transform: uppercase;
	float: right;
	
}

.search-input {
	background-color: rgb(46, 46, 46);
	border-style: solid;
	border-color: black;
	border-width: thin;
}

.search-btn {
	background-color: rgb(51, 51, 51);
	border-color: rgb(130, 130, 130);;
	border-width: thin;
	border-radius: 6px;
}

.pageInfo {
	list-style: none;
	display: inline-block;
	margin: 50px 0 0 100px;
}

.pageInfo li {
	float: left;
	font-size: 15px;
	margin-left: 18px;
	padding: 7px;
	font-weight: 500;
}


/*
	detail
*/

.detail_wrap {
	border-style: solid;
	border-color: black;
	border-width: thin;
	background-color: rgb(56, 56, 56);
	border-radius: 6px;
	box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
	margin: 10px auto;
  	max-width: 960px;
	font-family: 'Open Sans', sans-serif;
	color: white;
	padding: 3%;
}

.blog-container {
  	width: 100%;
  	max-width: 100%;
}

.blog-container h5 {
	color: rgb(144, 144, 144);
}

.blog-container h4 {
	color: rgb(144, 144, 144);
}

.blog-container h1 {
	color: rgb(144, 144, 144);
}

.blog-container p {
	font-size: 18px;
}

.comment_text {
	width: 94%;
	background-color: rgb(46, 46, 46);
	border-style: solid;
	border-color: black;
	border-width: thin; 
}

.blog-footer {
	border-top: 1px solid lighten(#333, 70%);
 	margin: 0 auto;
 	padding-bottom: .125rem;
}

.blog-footer ul {
  	list-style: none;
  	display: flex;
  	flex: row wrap;
  	justify-content: flex-end;
  	padding-left: 0;
}

.blog-footer li:first-child {
  	margin-right: auto;
}

.blog-footer li {
	text-align: center;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 1px;
}


.blog-footer a {
	color: rgb(144, 144, 144);
	border-style: solid;
	border-color: rgb(130, 130, 130);;
	border-width: thin;
	border-radius: 6px;
	padding: 3px;
}

/*
	comment
*/

.commentList {
	background-color: rgb(56, 56, 56);
	border-style: solid;
	border-color: black;
	border-width: thin;
	border-radius: 6px;
	font-family: 'Open Sans', sans-serif;
	margin: 10px auto;
  	max-width: 960px;
  	color: white;
	padding: 3%;
}

.reComment {
	width: 94%;
	background-color: rgb(46, 46, 46);
	border-style: solid;
	border-color: black;
	border-width: thin;
}

.cmt-add-btn, .reCommentSubmit, .reCommentBtn, .reCommentCloseBtn, .commentMod, .commentDel {
	text-transform: uppercase;
	background-color: rgb(51, 51, 51);
	color: rgb(144, 144, 144);
	border-style: solid;
	border-color: rgb(130, 130, 130);;
	border-width: thin;
	border-radius: 6px;
	padding: 3px;
	width: 4%;
	text-align: center;
	margin: 2px;
}

.commentList b {
	color: rgb(144, 144, 144);
}
.comment_container {
	margin-top: 2px;
	margin-bottom: 2px;
}
.cmt-footer {
	
}