<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/jee
    http://www.springframework.org/schema/jee/spring-jee.xsd">

	<context:component-scan
		base-package="kr.co.mlec" />
	<!-- AspectJ -->
	<aop:aspectj-autoproxy />
	<!-- mybatis -->
	<context:property-placeholder order="1"
		ignore-unresolvable="true" ignore-resource-not-found="true"
		location="classpath:config/mybatis/db.properties" />
	<context:property-placeholder order="2"
		ignore-unresolvable="true" ignore-resource-not-found="true"
		location="file:/opt/tomcat/conf/db.properties" />
	<!-- mySQL -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
		p:driverClassName="com.mysql.jdbc.Driver" p:url="${jdbc.oracle.url}"
		p:username="${jdbc.oracle.username}"
		p:password="${jdbc.oracle.password}" />
	<!-- transaction -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="2000000" />
	</bean>
	
	<tx:annotation-driven
		transaction-manager="transactionManager" />

	<bean id="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation"
			value="classpath:config/mybatis/sqlMapConfig.xml" />
		<property name="mapperLocations"
			value="classpath:config/sqlmap/oracle/*.xml" />
	</bean>

	<bean id="sqlSessionTemplate"
		class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory" />
	</bean>
	
	<bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
    	<property name="corePoolSize" value="10" />
    	<property name="maxPoolSize" value="50" />
    	<property name="queueCapacity" value="100" />
	</bean>
	
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean
				class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html; charset=UTF-8</value>
					</list>
				</property>
			</bean>
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html; charset=UTF-8</value>
						<value>application/json; charset=UTF-8</value>
					</list>
				</property>
			</bean>

		</mvc:message-converters>
		<mvc:async-support task-executor="taskExecutor" default-timeout="10000" />
	</mvc:annotation-driven>

	<mvc:view-controller path="/main.do"
		view-name="main" />
	<mvc:view-controller path="/board/test.do"
		view-name="board/test" />
	<mvc:view-controller path="/account/loginForm.do"
		view-name="account/loginForm" />
	<mvc:view-controller path="/board/insertForm.do"
		view-name="board/insertForm" />

	<mvc:default-servlet-handler />

	<mvc:view-resolvers>
		<mvc:jsp prefix="/WEB-INF/jsp/" suffix=".jsp" />
	</mvc:view-resolvers>

</beans>